In [1]:
from common import parallel
import pandas as pd

# sum two numbers in parallel

In [2]:
def sum_two_numbers(param_tuple):
    a, b = param_tuple
    return a + b
    
parallel.apply(
    func=sum_two_numbers,
    data=[(1, 2), (3, 4), (5, 6)]
)

[3, 7, 11]

# Take the mean by group in parallel

In [3]:
from sklearn import datasets

In [4]:
iris = datasets.load_iris()
data = pd.DataFrame(
    iris.data,
    columns=iris.feature_names)
data['label'] = [iris.target_names[x] for x in iris.target]

data_grp = data.groupby('label')

In [5]:
def mean_columns_by_group(group_name):
    mean = data_grp.get_group(group_name).mean()
    mean.name = group_name
    
    return mean

result = parallel.apply(
    func=mean_columns_by_group,
    data=data['label'].unique(),
    n_jobs=4)

result = pd.concat(result, axis=1)
result

                   setosa  versicolor  virginica
sepal length (cm)   5.006       5.936      6.588
sepal width (cm)    3.418       2.770      2.974
petal length (cm)   1.464       4.260      5.552
petal width (cm)    0.244       1.326      2.026

# Read and save in parallel

In [6]:
def save_group_df(group_name):
    filename = '%s.csv' % group_name
    data_grp.get_group(
        group_name
    ).to_csv(
        
    )
    
    return filename

parallel.apply(
    save_group_df,
    data=data['label'].unique(),
    n_jobs=4)

['setosa.csv', 'versicolor.csv', 'virginica.csv']

In [7]:
def read_group_df(group_name):
    return pd.read_csv('%s.csv' % group_name, index_col=0)
    
csv_files = parallel.apply(
    read_group_df,
    data=data['label'].unique(),
    n_jobs=4)

In [8]:
csv_files[0].head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [9]:
csv_files[1].head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
50,7.0,3.2,4.7,1.4,versicolor
51,6.4,3.2,4.5,1.5,versicolor
52,6.9,3.1,4.9,1.5,versicolor
53,5.5,2.3,4.0,1.3,versicolor
54,6.5,2.8,4.6,1.5,versicolor

In [10]:
csv_files[2].head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
100,6.3,3.3,6.0,2.5,virginica
101,5.8,2.7,5.1,1.9,virginica
102,7.1,3.0,5.9,2.1,virginica
103,6.3,2.9,5.6,1.8,virginica
104,6.5,3.0,5.8,2.2,virginica